/* Container principal */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentContainer {
  margin-top: 60px;
  padding: 20px;
  flex: 1;
}

/* Cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Formulário */
.formContainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formContainer label {
  font-weight: bold;
}

.formContainer input,
.formContainer select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btnSave {
  padding: 10px 15px;
  background-color: #11161c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnAdd {
  background-color: #11161c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btnSave:hover {
  background-color: #0056b3;
}

/* Lista de cartões */
.budgetsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

/* Cartão individual de orçamento */
.budgetCard {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.budgetDetails {
  flex-grow: 1;
}

.budgetActions button {
  margin-right: 5px;
  background-color: #11161c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.budgetActions button:hover {
  background-color: #0056b3;
}

/* Tipos de orçamento */
.warningBudget {
  background-color: #ffeeba;
}

.overBudget {
  background-color: #f8d7da;
}

.normalBudget {
  background-color: #ffffff;
}
