/* Container principal ocupando a tela inteira */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Conteúdo abaixo da NavBar */
.contentContainer {
  margin-top: 60px;
  padding: 20px;
  flex: 1;
}

/* Cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
  font-weight: bold;
}

.formContainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formContainer label {
  font-weight: bold;
}

.formContainer input,
.formContainer select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btnSave {
  padding: 10px 15px;
  background-color: 11161c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnSave:hover {
  background-color: #a71d2a;
}

.btnAdd {
  padding: 10px 15px;
  background-color: #11161c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnAdd:hover {
  background-color: #3f7ed8;
}

.expenseList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expenseCard {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.expenseDetails {
  flex-grow: 1;
}

.expenseActions button {
  margin-right: 5px;
  background-color: #11161c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.expenseActions button:hover {
  background-color: #a71d2a;
}
