.balance-container {
  border: none;
  background-color: #dad7d7f5;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #666;
  border-radius: 30px;
  margin: 5px;
  overflow: hidden;          /* Garante que o conteúdo não ultrapasse os limites */
  box-sizing: border-box;     /* Inclui padding e borda no cálculo da largura e altura */
}

.content {

  height: 90%;
  width: 90%;
  box-sizing: border-box;     /* Inclui padding e borda no cálculo da largura e altura */
  overflow: hidden;           /* Garante que o conteúdo não ultrapasse os limites */
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;           /* Ajuste para evitar problemas de margem excessiva */
}

.amount {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;         /* Alinha verticalmente o ícone com o texto */
  width: 100%;                 /* Garante que o conteúdo ocupe toda a largura */
  overflow: hidden;            /* Evita que o conteúdo ultrapasse os limites */
  box-sizing: border-box;       /* Garante que o padding e borda sejam incluídos */
}