.saldoContainer,
.receitasContainer,
.despesasContainer {
  border: none;
  width: 350px;
  height: 110px;
  display: flex;
  padding: 10px;
  border: solid 1px #666;
  border-radius: 30px;
  margin: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.receitasContainer {
  background-color: #b2f1ada4;
}

.saldoContainer {
  background-color: #b2cee7a1;
}

.despesasContainer {
  background-color: #f89b9b9c;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.amount {
  display: flex;
  align-items: center; /* Alinha verticalmente o h2 e o botão */
  justify-content: space-between; /* Espaça o h2 e o botão ao longo da largura */
  width: 100%;
}

.amount h2 {
  margin: 0;
  flex-grow: 1; /* Permite que o h2 ocupe espaço restante */
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0;
  margin-left: auto; /* Garante que o ícone fique alinhado à direita */
}
